:root {
  /* Colors */
  /* Primary */
  --nutmeg: hsl(14, 45%, 36%);
  --dark-raspberry: hsl(332, 51%, 32%);
  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --rose_white: hsl(330, 100%, 98%);
  --eggshell: hsl(30, 54%, 90%);
  --light-gray: hsl(30, 18%, 87%);
  --wenge-brown: hsl(30, 10%, 34%);
  --dark-charcoal: hsl(24, 5%, 18%);

  /* Typography */

  --ff-young-serif: "Young Serif", serif;
  --fw-young-400: 400;

  --ff-outfit: "Outfit", sans-serif;
  --fw-outfit-400: 400;
  --fw-outfit-600: 600;
  --fw-outfit-700: 700;
}

/* Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

body {
  background-color: var(--eggshell);
  color: var(--wenge-brown);
  min-height: 100dvh;
  font-family: var(--ff-outfit);
  text-rendering: optimizeSpeed;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Custom Properties */

h1,
h2 {
  font-family: var(--ff-young-serif);
}
h2 {
  font-size: 1.75rem;
}

span {
  font-weight: var(--fw-outfit-600);
}

/* Grid and image */

.grid_container {
  display: grid;
  max-width: 756px;
  margin-inline: auto;
  background-color: #fff;
  padding: 2.5rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-radius: 1.5rem;
  row-gap: 40px;
}

.grid_items {
  display: grid;
  gap: 32px;
}

.img_container img {
  border-radius: 0.75rem;
}

/* Preperation Time */

.preperation_time {
  padding: 28px;
}

.preperation_time h3 {
  padding-bottom: 1rem;
}

.preperation_time ul {
  padding-inline-start: 10px;
  line-height: 2rem;
}

.preperation_time ul li::before {
  content: ""; /* Create a pseudo-element */
  display: inline-block; /* Make the pseudo-element inline-block */
  width: 4px; /* Set width of the pseudo-element */
  height: 4px; /* Set height of the pseudo-element */
  background-color: var(
    --dark-raspberry
  ); /* Set background color of the pseudo-element */
  border-radius: 50%; /* Make it a circle */
  margin-right: 20px; /* Add margin between the circle and text */
}

/* Ingredients */

.ingredients ul {
  padding-inline-start: 0;
  line-height: 2rem;
}

.ingredients ul li::before {
  content: ""; /* Create a pseudo-element */
  display: inline-block; /* Make the pseudo-element inline-block */
  width: 4px; /* Set width of the pseudo-element */
  height: 4px; /* Set height of the pseudo-element */
  background-color: var(
    --dark-raspberry
  ); /* Set background color of the pseudo-element */
  border-radius: 50%; /* Make it a circle */
  margin-right: 30px; /* Add margin between the circle and text */
}

.float li {
  padding-right: 3rem;
  padding-bottom: 12px;
  border-bottom: 1px solid black;
}

.float {
  display: flex;
  justify-content: space-between;
}

.custom_ol ol {
  padding-inline-start: 0;
  line-height: 1.5rem;
  counter-reset: item;
}

.custom_ol ol li {
  counter-increment: item;
  margin-bottom: 10px;
  display: block;
}

.custom_ol ol li::before {
  margin-right: 1.3rem;
  content: counter(item);
  background: #fff;
  color: var(--dark-raspberry);
  width: 1.2em;
  text-align: center;
  display: inline-block;
}

/* Utility Classes */

.white {
  color: var(--white);
}

.nutmeg {
  color: var(--nutmeg);
}

.dark_Raspberry {
  color: var(--dark-raspberry);
}

.rose_White {
  columns: var(--rose_white);
}

.light_Grey {
  color: var(--light-gray);
}

.wenge_Brown {
  color: var(--wenge-brown);
}

.dark_Charcoal {
  color: var(--dark-charcoal);
}

.bottom_margin {
  margin-bottom: 1px solid var(--dark-raspberry);
}

.margin_bottom {
  margin-bottom: 1.5rem;
}

.top_padding {
  padding-top: 2rem;
}

.top_border {
  border-top: 1px solid var(--eggshell);
}
